/* RUI: REA User Interface library - version 1.3.0 - 26-02-2014 10:40
   Copyright 2014, REA Group */

/**
 * Global variables and mixins used across RUI SCSS
 */
/**
 * Responsive Breakpoints
 */
/* Home pages, micro sites */
/* line 4, ../../../tmp/scss/rui-icon.scss */
.rui-main-logo {
  margin-bottom: 24px;
  height: 55px;
  width: 310px;
  /* On the Mobile sites, center the logo */
}
@media only screen and (max-width: 719px) {
  /* line 4, ../../../tmp/scss/rui-icon.scss */
  .rui-main-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
  }
}

/* line 18, ../../../tmp/scss/rui-icon.scss */
.rui-rea-logo.rui-main-logo {
  background-size: 310px 55px;
}

/* line 22, ../../../tmp/scss/rui-icon.scss */
.rui-rca .rui-main-logo {
  height: 50px;
  width: 350px;
}

/* line 27, ../../../tmp/scss/rui-icon.scss */
.rui-rca .rui-rca-logo.rui-main-logo {
  background-size: 350px 50px;
}

/* Used next to a leaderboard or when it needs to be smaller */
/* line 32, ../../../tmp/scss/rui-icon.scss */
.rui-secondary-logo {
  float: left;
  margin: 30px 0 24px;
  width: 232px;
  height: 42px;
  background-size: 232px 42px;
}

/* Fill the space available when it is embedded */
/* line 42, ../../../tmp/scss/rui-icon.scss */
.rui-main-logo img,
.rui-secondary-logo img {
  width: 100%;
}

/* RUI Icon font via iconmoon */
@font-face {
  font-family: 'rui-icon';
  src: url("//s1.rui.au.reastatic.net/rui-static/font/icons/1.1/rui-icon.eot");
  src: url("//s1.rui.au.reastatic.net/rui-static/font/icons/1.1/rui-icon.eot?#iefix") format("embedded-opentype"), url("//s1.rui.au.reastatic.net/rui-static/font/icons/1.1/rui-icon.woff") format("woff"), url("//s1.rui.au.reastatic.net/rui-static/font/icons/1.1/rui-icon.ttf") format("truetype"), url("//s1.rui.au.reastatic.net/rui-static/font/icons/1.1/rui-icon.svg#rui-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 58, ../../../tmp/scss/rui-icon.scss */
.rui-icon:before {
  font-family: 'rui-icon';
  content: attr(data-icon);
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.5em;
  display: inline-block;
}

/* Use the following CSS code if you want to have a class per icon */
/* line 72, ../../../tmp/scss/rui-icon.scss */
.rui-icon-play:before {
  content: "\e011";
}

/* line 75, ../../../tmp/scss/rui-icon.scss */
.rui-icon-home:before {
  content: "\e012";
}

/* line 78, ../../../tmp/scss/rui-icon.scss */
.rui-icon-github:before {
  content: "\e013";
}

/* line 81, ../../../tmp/scss/rui-icon.scss */
.rui-icon-multi-user:before {
  content: "\e014";
}

/* line 84, ../../../tmp/scss/rui-icon.scss */
.rui-icon-tags:before {
  content: "\e015";
}

/* line 87, ../../../tmp/scss/rui-icon.scss */
.rui-icon-quotes:before {
  content: "\e016";
}

/* line 90, ../../../tmp/scss/rui-icon.scss */
.rui-icon-back:before {
  content: "\e017";
}

/* line 93, ../../../tmp/scss/rui-icon.scss */
.rui-icon-forward:before {
  content: "\e018";
}

/* line 96, ../../../tmp/scss/rui-icon.scss */
.rui-icon-add:before {
  content: "\e029";
}

/* line 99, ../../../tmp/scss/rui-icon.scss */
.rui-icon-arrow-down:before {
  content: "\e02a";
}

/* line 102, ../../../tmp/scss/rui-icon.scss */
.rui-icon-arrow-right:before {
  content: "\e02b";
}

/* line 105, ../../../tmp/scss/rui-icon.scss */
.rui-icon-arrow-up:before {
  content: "\e01e";
}

/* line 108, ../../../tmp/scss/rui-icon.scss */
.rui-icon-arrow-left:before {
  content: "\e01f";
}

/* line 111, ../../../tmp/scss/rui-icon.scss */
.rui-icon-call:before {
  content: "\e02c";
}

/* line 114, ../../../tmp/scss/rui-icon.scss */
.rui-icon-floorplan:before {
  content: "\e02d";
}

/* line 117, ../../../tmp/scss/rui-icon.scss */
.rui-icon-facebook:before {
  content: "\e02e";
}

/* line 120, ../../../tmp/scss/rui-icon.scss */
.rui-icon-twitter:before {
  content: "\e02f";
}

/* line 123, ../../../tmp/scss/rui-icon.scss */
.rui-icon-pinterest:before {
  content: "\e030";
}

/* line 126, ../../../tmp/scss/rui-icon.scss */
.rui-icon-warning:before {
  content: "\e008";
}

/* line 129, ../../../tmp/scss/rui-icon.scss */
.rui-icon-cog:before {
  content: "\e009";
}

/* line 132, ../../../tmp/scss/rui-icon.scss */
.rui-icon-link:before {
  content: "\e00a";
}

/* line 135, ../../../tmp/scss/rui-icon.scss */
.rui-icon-navdeck:before {
  content: "\e00b";
}

/* line 138, ../../../tmp/scss/rui-icon.scss */
.rui-icon-video-camera:before {
  content: "\e00c";
}

/* line 141, ../../../tmp/scss/rui-icon.scss */
.rui-icon-linkedin:before {
  content: "\e00d";
}

/* line 144, ../../../tmp/scss/rui-icon.scss */
.rui-icon-googleplus:before {
  content: "\e019";
}

/* line 148, ../../../tmp/scss/rui-icon.scss */
.rui-icon-save-contact:before,
.rui-icon-avatar:before {
  content: "\e01a";
}

/* line 151, ../../../tmp/scss/rui-icon.scss */
.rui-icon-listview:before {
  content: "\e01b";
}

/* line 154, ../../../tmp/scss/rui-icon.scss */
.rui-icon-bed:before {
  content: "\e021";
}

/* line 157, ../../../tmp/scss/rui-icon.scss */
.rui-icon-bath:before {
  content: "\e022";
}

/* line 160, ../../../tmp/scss/rui-icon.scss */
.rui-icon-car:before {
  content: "\e023";
}

/* line 163, ../../../tmp/scss/rui-icon.scss */
.rui-icon-save:before {
  content: "\e024";
}

/* line 166, ../../../tmp/scss/rui-icon.scss */
.rui-icon-mappin:before {
  content: "\e025";
}

/* line 169, ../../../tmp/scss/rui-icon.scss */
.rui-icon-search:before {
  content: "\e026";
}

/* line 172, ../../../tmp/scss/rui-icon.scss */
.rui-icon-office:before {
  content: "\e003";
}

/* line 175, ../../../tmp/scss/rui-icon.scss */
.rui-icon-image:before {
  content: "\e004";
}

/* line 178, ../../../tmp/scss/rui-icon.scss */
.rui-icon-iphone:before {
  content: "\e006";
}

/* line 181, ../../../tmp/scss/rui-icon.scss */
.rui-icon-ipad:before {
  content: "\e007";
}

/* line 184, ../../../tmp/scss/rui-icon.scss */
.rui-icon-camera:before {
  content: "\e00e";
}

/* line 187, ../../../tmp/scss/rui-icon.scss */
.rui-icon-rss:before {
  content: "\e00f";
}

/* line 190, ../../../tmp/scss/rui-icon.scss */
.rui-icon-comments:before {
  content: "\e010";
}

/* line 193, ../../../tmp/scss/rui-icon.scss */
.rui-icon-calculator:before {
  content: "\e032";
}

/* line 196, ../../../tmp/scss/rui-icon.scss */
.rui-icon-calendar:before {
  content: "\e035";
}

/* line 199, ../../../tmp/scss/rui-icon.scss */
.rui-icon-tick:before {
  content: "\e039";
}

/* line 202, ../../../tmp/scss/rui-icon.scss */
.rui-icon-lock:before {
  content: "\e044";
}

/* line 205, ../../../tmp/scss/rui-icon.scss */
.rui-icon-youtube:before {
  content: "\e046";
}

/* line 208, ../../../tmp/scss/rui-icon.scss */
.rui-icon-email:before {
  content: "\e020";
}

/* line 211, ../../../tmp/scss/rui-icon.scss */
.rui-icon-arrow-solid-right:before {
  content: "\e027";
}

/* line 214, ../../../tmp/scss/rui-icon.scss */
.rui-icon-arrow-solid-down:before {
  content: "\e028";
}

/* line 217, ../../../tmp/scss/rui-icon.scss */
.rui-icon-arrow-solid-up:before {
  content: "\e01c";
}

/* line 220, ../../../tmp/scss/rui-icon.scss */
.rui-icon-arrow-solid-left:before {
  content: "\e01d";
}

/* line 223, ../../../tmp/scss/rui-icon.scss */
.rui-icon-share:before {
  content: "\e031";
}

/* line 226, ../../../tmp/scss/rui-icon.scss */
.rui-icon-cross:before {
  content: "\e0011";
}

/* line 229, ../../../tmp/scss/rui-icon.scss */
.rui-icon-dollar:before {
  content: "\e033";
}

/* line 232, ../../../tmp/scss/rui-icon.scss */
.rui-icon-wordpress:before {
  content: "\e034";
}

/* line 235, ../../../tmp/scss/rui-icon.scss */
.rui-icon-save-hollow:before {
  content: "\e000";
}

/* line 238, ../../../tmp/scss/rui-icon.scss */
.rui-icon-user-on:before {
  content: "\e001";
}

/* line 241, ../../../tmp/scss/rui-icon.scss */
.rui-icon-user-off:before {
  content: "\e002";
}
